In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\md\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\md\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\md\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\md\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\md\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: sniffio in c:\users\md\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\md\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\md\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\md\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\md\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\md\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\md\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: idna in c:\users\md\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\md\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\md\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\md\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\md\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# import the libraries
import selenium 
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
import time

# Q1. Scrap the details of most viewed youtube video from wikipedia.

In [15]:
#lets first connect to the driver  # this is method one to connect to the webdriver # this s good.
driver=webdriver.Chrome(r"C:\Users\md\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [25]:
# get url from the web page:
url ='https://en.wikipedia.org/wiki/List_of_most-viewed_online_videos_in_the_first_24_hours'
driver.get(url)

In [32]:
# make a empty dataframe:
video_rank = []
video_name= []
video_artist = []
upload_date = []
video_views = []

In [33]:
#Scrapping video_rank from the given page
rank_tags=driver.find_elements(By.XPATH,"//th[@class='headerSort']")
for i in rank_tags[1:15]:
    rank=i.text
    video_rank.append(rank)
    
#Scrapping video_name from the given page
name_tags=driver.find_elements(By.XPATH,"//th[@class='headerSort']")
for i in name_tags[1:15]:
    name=i.text
    video_name.append(name)

#Scrapping video_artist from the given page
artist_tags=driver.find_elements(By.XPATH,"//th[@class='headerSort']")
for i in artist_tags[1:15]:
    artist=i.text
    video_artist.append(artist)
    
#Scrapping upload_date from the given page
date_tags=driver.find_elements(By.XPATH,"//th[@class='headerSort']")
for i in date_tags[1:15]:
    date=i.text
    upload_date.append(date)
    
#Scrapping place from the given page
views_tags=driver.find_elements(By.XPATH,"//th[@class='headerSort']")
for i in views_tags[1:15]:
    views=i.text
    video_views.append(views)

In [42]:
#checking length:
len(video_rank) 
len(video_name)
len(video_artist)
len(upload_date) 
len(video_views)

14

In [35]:
#checking details:
print(video_rank) 
print(video_name)
print(video_artist)
print(upload_date) 
print(views)

['Title', 'Uploader / artist', 'Platform', 'Views[a]\n(millions)', 'Release date', 'Rank', 'Title', 'Artist', 'Platform', 'Views[a]\n(millions)', 'Release date', 'Title', 'Artist', 'Views[a]\n(millions)']
['Title', 'Uploader / artist', 'Platform', 'Views[a]\n(millions)', 'Release date', 'Rank', 'Title', 'Artist', 'Platform', 'Views[a]\n(millions)', 'Release date', 'Title', 'Artist', 'Views[a]\n(millions)']
['Title', 'Uploader / artist', 'Platform', 'Views[a]\n(millions)', 'Release date', 'Rank', 'Title', 'Artist', 'Platform', 'Views[a]\n(millions)', 'Release date', 'Title', 'Artist', 'Views[a]\n(millions)']
['Title', 'Uploader / artist', 'Platform', 'Views[a]\n(millions)', 'Release date', 'Rank', 'Title', 'Artist', 'Platform', 'Views[a]\n(millions)', 'Release date', 'Title', 'Artist', 'Views[a]\n(millions)']
Views[a]
(millions)

In [43]:
#make a dataframe:
data=pd.DataFrame()
data['Video_rank']=video_rank
data['Video_name']=video_name
data['Video_artist']=video_artist 
data['upload_date']=upload_date 
data['Video_views']=video_views 
data

,Video_rank,Video_name,Video_artist,upload_date,Video_views
0,Title,Title,Title,Title,Title
1,Uploader / artist,Uploader / artist,Uploader / artist,Uploader / artist,Uploader / artist
2,Platform,Platform,Platform,Platform,Platform
3,Views[a]\n(millions),Views[a]\n(millions),Views[a]\n(millions),Views[a]\n(millions),Views[a]\n(millions)
4,Release date,Release date,Release date,Release date,Release date
5,Rank,Rank,Rank,Rank,Rank
6,Title,Title,Title,Title,Title
7,Artist,Artist,Artist,Artist,Artist
8,Platform,Platform,Platform,Platform,Platform
9,Views[a]\n(millions),Views[a]\n(millions),Views[a]\n(millions),Views[a]\n(millions),Views[a]\n(millions)
10,Release date,Release date,Release date,Release date,Release date
11,Title,Title,Title,Title,Title
12,Artist,Artist,Artist,Artist,Artist
13,Views[a]\n(millions),Views[a]\n(millions),Views[a]\n(millions),Views[a]\n(millions),Views[a]\n(millions)

In [44]:
# save dataframe to csv file:
data.to_csv('most viewed video on youtube.csv',index=False)

# Q2. team india's international fixtures:

In [5]:
#lets first connect to the driver  # this is method one to connect to the webdriver # this s good.
driver=webdriver.Chrome(r"C:\Users\md\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [6]:
# get url from the web page:
url ='https://www.bcci.tv/international/fixtures'
driver.get(url)
time.sleep(1)

In [7]:
# make a empty dataframe:
match_title = []
match_series= []
match_date = []
match_place = []
match_time = []

In [8]:
#Scrapping match_title from the given page
title_tags=driver.find_elements(By.XPATH,"//span[@class='matchOrderText ng-binding ng-scope']")
for i in title_tags[0:11]:
    title=i.text
    match_title.append(title)
    
#Scrapping match_series from the given page
series_tags=driver.find_elements(By.XPATH,"//span[@class='ng-binding']")
for i in series_tags[0:11]:
    series=i.text
    match_series.append(series)

#Scrapping match_date from the given page
date_tags=driver.find_elements(By.XPATH,"//h5[@class='ng-binding']")
for i in date_tags[0:11]:
    date=i.text
    match_date.append(date)
    
#Scrapping match_time from the given page
time_tags=driver.find_elements(By.XPATH,"//h5[@class='text-right ng-binding']")
for i in time_tags[0:11]:
    time=i.text
    match_time.append(time)
    
#Scrapping match_place from the given page
place_tags=driver.find_elements(By.XPATH,"//div[@class='fix-place ng-binding ng-scope']")
for i in place_tags[0:11]:
    place=i.text
    match_place.append(place)

In [9]:
#checking length:
len(match_title)
len(match_series)
len(match_date)
len(match_place) 
len(match_time)

8

In [10]:
# checking details:
print(match_title)
print(match_series)
print(match_date)
print(match_place)
print(match_time)

['3rd T20I -', '4th T20I -', '1st T20I -', '5th T20I -', '2nd T20I -', '3rd T20I -', '1st ODI -', '2nd ODI -']
['INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19', 'INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19', 'SRI LANKA TOUR OF INDIA T20 SERIES 2022-23', 'INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19', 'SRI LANKA TOUR OF INDIA T20 SERIES 2022-23', 'SRI LANKA TOUR OF INDIA T20 SERIES 2022-23', 'SRI LANKA TOUR OF INDIA ODI SERIES 2022-23', 'SRI LANKA TOUR OF INDIA ODI SERIES 2022-23']
['31 DEC 2022', '2 JAN 2023', '3 JAN 2023', '4 JAN 2023', '5 JAN 2023', '7 JAN 2023', '10 JAN 2023', '12 JAN 2023']
['3rd T20I - Steyn City School Ground, Pretoria', '4th T20I - Steyn City School Ground, Pretoria', '1st T20I - Wankhede Stadium, Mumbai', '5th T20I - Steyn City School Ground, Pretoria', '2nd T20I - Maharashtra Cricket Association Stadium, Pune', '3rd T20I - Saurashtra Cricket Association Stadium, Rajkot', '1st ODI - Barsapara Cricket Stadium, Guwahati', '2nd ODI - Eden Gardens, Kolkata']
['12:00 AM PST', '3:45 AM PST', '5:30 AM PST', '12:00 AM PST', '5:30 AM PST', '5:30 AM PST', '12:00 AM PST', '12:00 AM PST']

In [11]:
#make  a dataframe :
data=pd.DataFrame()
data['Match_title']=match_title 
data['Match_series']=match_series
data['Match_date']=match_date 
data['Match_place']=match_place 
data['Matc h_time']=match_time 
data

,Match_title,Match_series,Match_date,Match_place,Matc h_time
0,3rd T20I -,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,31 DEC 2022,"3rd T20I - Steyn City School Ground, Pretoria",12:00 AM PST
1,4th T20I -,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,2 JAN 2023,"4th T20I - Steyn City School Ground, Pretoria",3:45 AM PST
2,1st T20I -,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,3 JAN 2023,"1st T20I - Wankhede Stadium, Mumbai",5:30 AM PST
3,5th T20I -,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,4 JAN 2023,"5th T20I - Steyn City School Ground, Pretoria",12:00 AM PST
4,2nd T20I -,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,5 JAN 2023,2nd T20I - Maharashtra Cricket Association Sta...,5:30 AM PST
5,3rd T20I -,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,7 JAN 2023,3rd T20I - Saurashtra Cricket Association Stad...,5:30 AM PST
6,1st ODI -,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,10 JAN 2023,"1st ODI - Barsapara Cricket Stadium, Guwahati",12:00 AM PST
7,2nd ODI -,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,12 JAN 2023,"2nd ODI - Eden Gardens, Kolkata",12:00 AM PST

In [14]:
 # save data to csv file:
data.to_csv('team india- international fixtures.csv',index=False)

# Q3. Scraping selenium exceptionh handling details:

In [ ]:
#lets first connect to the driver  # this is method one to connect to the webdriver # this s good.
driver=webdriver.Chrome(r"C:\Users\md\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [191]:
# get url from the web page:
url ='https://www.guru99.com/exception-handling-selenium.html'
driver.get(url)
time.sleep(1)

In [193]:
# make a empty dataframe:
selenium_name = []
description= []

In [194]:
#Scrapping selenium_name from the given page
name_tags=driver.find_elements(By.XPATH,"//h1[@class='entry-title']")
for i in name_tags[0:11]:
    name=i.text
    selenium_name.append(name)
    
#Scrapping selenium_description from the given page
descrip_tags=driver.find_elements(By.XPATH,"//div[@class='wrap hfeed kt-clear']")
for i in descrip_tags[0:11]:
    descrip=i.text
    description.append(descrip)

In [195]:
#checking length:
len(selenium_name)

1

In [196]:
#checkihng length:
len(description)

1

In [197]:
# checking details:
print(selenium_name)
print(description)

['Exception Handling in Selenium Webdriver (Types)']
['Exception Handling in Selenium Webdriver (Types)\nBy\nKrishna Rungta\nUpdated\nOctober 29, 2022\nWhat is an Exceptions?\nAn exception is an error that happens at the time of execution of a program. However, while running a program, programming languages generates an exception that should be handled to avoid your program to crash.\nThe exception indicates that, although the event can occur, this type of event happens infrequently. When the method is not able to handle the Exception, it is thrown to its caller function.\nIn this Selenium tutorial, you will learn:\nTypes of Exceptions in Selenium Webdriver\n1. ElementNotVisibleException: This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.\n2. ElementNotSelectableException: This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.\n3. NoSuchElementException: This Exception occurs if an element could not be found.\n4. NoSuchFrameException: This Exception occurs if the frame target to be switched to does not exist.\n5. NoAlertPresentException: This Exception occurs when you switch to no presented alert.\n6. NoSuchWindowException: This Exception occurs if the window target to be switch does not exist.\n7. StaleElementReferenceException: This Selenium exception occurs happens when the web element is detached from the current DOM.\n8. SessionNotFoundException: The WebDriver is acting after you quit the browser.\n9. TimeoutException: Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.\n10. WebDriverException: This Exception takes place when the WebDriver is acting right after you close the browser.\n11. ConnectionClosedException: This type of Exception takes place when there is a disconnection in the driver.\n12. ElementClickInterceptedException: The command may not be completed as the element receiving the events is concealing the element which was requested clicked.\n13. ElementNotInteractableException: This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.\n14. ErrorInResponseException: This happens while interacting with the Firefox extension or the remote driver server.\n15. ErrorHandler.UnknownServerException: Exception is used as a placeholder in case if the server returns an error without a stack trace.\n16. ImeActivationFailedException: This expectation will occur when IME engine activation has failed.\n17. ImeNotAvailableException: It takes place when IME support is unavailable.\n18. InsecureCertificateException: Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.\n19. InvalidArgumentException: It occurs when an argument does not belong to the expected type.\n20. InvalidCookieDomainException: This happens when you try to add a cookie under a different domain instead of current URL.\n21. InvalidCoordinatesException: This type of Exception matches an interacting operation that is not valid.\n22. InvalidElementStateException: It occurs when command can’t be finished when the element is invalid.\n23. InvalidSessionIdException: This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.\n24. InvalidSwitchToTargetException: This occurs when the frame or window target to be switched does not exist.\n25. JavascriptException: This issue occurs while executing JavaScript given by the user.\n26. JsonException: It occurs when you afford to get the session when the session is not created.\n27. NoSuchAttributeException: This kind of Exception occurs when the attribute of an element could not be found.\n28. MoveTargetOutOfBoundsException: It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.\n29. NoSuchContextException: ContextAware does mobile device testing.\n30. NoSuchCookieException: This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.\n31. NotFoundException: This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.\n32. RemoteDriverServerException: This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.\n33. ScreenshotException: It is not possible to capture a screen.\n34. SessionNotCreatedException: It happens when a new session could not be successfully created.\n35. UnableToSetCookieException: This occurs if a driver is unable to set a cookie.\n36. UnexpectedTagNameException: Happens if a support class did not get a web element as expected.\n37. UnhandledAlertException: This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.\n38. UnexpectedAlertPresentException: It occurs when there is the appearance of an unexpected alert.\n39. UnknownMethodException: This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.\n40. UnreachableBrowserException: This Exception occurs only when the browser is not able to be opened or crashed because of some reason.\n41. UnsupportedCommandException: This occurs when remote WebDriver doesn’t send valid commands as expected.\nHow to Handling Exceptions in Selenium\nHere, are some important standard using which you can handle Exceptions in Selenium WebDriver:\nStep 1) Try-catch\nThis method can catch Exceptions, which uses a combination of the try and catch keywords. Try command indicates the start of the block, and Catch is placed at the end of the try block, which helps to resolve the Exception.\ntry\n{\n// Code\n} catch (Exception e) {\n// Code for Handling exception\n}\nStep 2) Multiple catch blocks\nThere are various types of Exceptions, and you can expect more than one exception from a single block of code. Multiple catches help you to handle every type of Exception separately with a separate block of code. It can be used for more than two catch blocks, and there is no limitation on the number of catch blocks.\ntry\n{\n//Code\n} catch (ExceptionType1 e1) {\n//Code for Handling Exception 1\n} catch (ExceptionType2 e2) {\n//Code for Handling Exception 2\n}\nStep 3) Throw\nWhen you want to generate an Exception, the Throw keyword is used to throw Exception to handle it in the run time. When you are throwing an Exception without handling it, then they need to use Throw keyword.\npublic static void anyFunction() throws Exception{\n\ntry {\n// write your code here\n} Catch (Exception b) {\n// Do whatever you want to perform \n// Throw the Exception back to the system\nthrow(b);\n}\n}\nStep 4) Multiple Exceptions\nYou can mention various Exceptions in the throws clause.\npublic static void anyFunction() throws ExceptionType1, ExceptionType2{\n\ntry {\n// write your code here\n} catch (ExceptionType1 e1) {\n// Code to handle exception 1\n} catch (ExceptionType1 e2) {\n// Code to handle exception 2\n}\nStep 5) Finally\nThe Final keyword is used to create a block of code under the try block. It is the final code that helps you to executes irrespective of the occurrence of an exception\ntry {\n//Code\n} catch (ExceptionType1 e1) {\n//Catch block\n} catch (ExceptionType2 e2) {\n//Catch block\n} catch (ExceptionType3 e3) {\n//Catch block\n} finally {\n//The finally block always executes.\n}\nMethods for displaying Exception\nYou can also use the following methods to display Exception Information:\nprintStackTrace(): This function prints stack trace, name of the Exception, and other useful description.\ntoString(): This function returns a text message describing the exception name and description.\ngetMessage(): Helps to displays the description of the Exception.\nSummary:\nAn exception is an error that happens at the time of execution of a program.\nTry-catch: This method can catch Exceptions, which uses a combination of the try and catch keywords.\nMultiple catches help you to handle every type of Exception separately with a separate block of code.\nThrow keyword is used to throw Exception to handle it in the run time.\nprintStackTrace(): This function prints stack trace, name of the Exception, and other useful description\ntoString(): This function returns a text message describing the exception name and description.\ngetMessage(): Helps to displays the description of the Exception.\nYou Might Like:\nHow to Read/Write Data from Excel File: Selenium POI\nUsing SoapUI with Selenium for Web Service Testing\nTop 100 Selenium Interview Questions and Answers for 2022\nHow to Verify Tooltip using Selenium WebDriver\n19 Selenium Alternatives & Competitors (2022 Update)\nPost navigation\nReport a Bug\nPrev\nNext']

In [199]:
# make a dataframe:
data=pd.DataFrame()
data['Selenium_name']=selenium_name
data['Description']=description
data

,Selenium_name,Description
0,Exception Handling in Selenium Webdriver (Types),Exception Handling in Selenium Webdriver (Type...

In [200]:
#save data to csv as a file
data.to_csv('SELENIUM EXCEPTION HANDLING details.csv', index=False )

# Q4. Scraping GDP of india statewise:

In [23]:
#lets first connect to the driver  # this is method one to connect to the webdriver # this s good.
driver=webdriver.Chrome(r"C:\Users\md\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [24]:
# get url from the web page:
url ='https://statisticstimes.com/economy/india/indian-states-gdp.php'
driver.get(url)

In [25]:
# make a empty dataframe:
Rank = []
State = []
GSDP_a = []
GSDP_b = []
share = []
GDP_billion =[]

In [8]:
#Scrapping rank from the given page
rank_tags=driver.find_elements(By.XPATH,"//td[class='data1']")
for i in rank_tags[0:20]:
    rank=i.text
    Rank.append(rank)
    
#Scrapping state from the given page
state_tags=driver.find_elements(By.XPATH,"//td[class='name']")
for i in state_tags[0:20]:
    state=i.text
    State.append(state)
#Scrapping GSDP(18-19) from the given page
GSDP_tags=driver.find_elements(By.XPATH,"//td[class='data']")
for i in GSDP_tags[0:20]:
    GSDP=i.text
    GSDP_a.append(GSDP)
# Scraping GSDP(19-20) from the given page:
GSDP_tags=driver.find_elements(By.XPATH,"//td[class='data']")
for i in GSDP_tags[0:20]:
    GSDP=i.text
    GSDP_b.append(GSDP)
#Scrapping share from the given page
share_tags=driver.find_elements(By.XPATH,"//td[class='data']")
for i in share_tags[0:20]:
    share=i.text
    share.append(share)
#Scrapping GDP from the given page:
GDP_tags=driver.find_elements(By.XPATH,"//td[class='data']")
for i in GDP_tags[0:5]:
    GDP=i.text
    GDP_billion.append(GDP)

In [9]:
# Checking length:
len(Rank)
len(State) 
len(GSDP_a)
len(GSDP_b) 
len(share) 
len(GDP_billion)

0

In [71]:
# checking details:
print(Rank)
print(State) 
print(GSDP_a)
print(GSDP_b) 
print(share) 
print(GDP_billion)

[]
[]
[]
[]
[]
[]

# Q5.scrap the details of trending repositories:

In [132]:
#lets first connect to the driver  # this is method one to connect to the webdriver # this s good.
driver=webdriver.Chrome(r"C:\Users\md\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [138]:
# get url from the web page:
url ='https://github.com/trending?since=daily'
driver.get(url)
time.sleep(1)

In [139]:
# make a empty dataframe:
repository_title = []
repository_description = []
contributors_count = []
language_used = []

In [162]:
#Scrapping repository_title from the given page
title_tags=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in title_tags[0:11]:
    title=i.text
    repository_title.append(title)
    
#Scrapping description from the given page
description_tags=driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")
for i in description_tags[0:11]:
    description=i.text
    repository_description.append(description)
#Scrapping contibutors from the given page
contributors_tags=driver.find_elements(By.XPATH,"//div[@class='f6 color-fg-muted mt-2']")
for i in contributors_tags[0:11]:
    contributors=i.text
    contributors_count.append(contributors)
#Scrapping language from the given page
language_tags=driver.find_elements(By.XPATH,"//span[@class='d-inline-block mr-3']")
for i in language_tags[0:11]:
    language=i.text
    language_used.append(language)

In [146]:
#checking length:
len(repository_title) 
len(repository_description) 
len(contributors_count) 
len(language_used)

5

In [147]:
# checking details:
print(repository_title)
print(repository_description)
print(contributors_count)
print(language_used)

['LAION-AI / Open-Assistant', 'apple / ml-stable-diffusion', 'hehonghui / awesome-english-ebooks', 'AmruthPillai / Reactive-Resume', 'microfeed / microfeed', 'excalidraw / excalidraw', 'TheOfficialFloW / HENlo', 'tesseract-ocr / tesseract', 'zhuowei / WDBFontOverwrite', 'novuhq / novu', 'timqian / chinese-independent-blogs', 'gabiduarte / awesome-techleads', 'microsoft / RoadDetections', 'lencx / ChatGPT', 'facebook / folly', 'mouredev / retos-programacion-2023', 'AmazingAng / WTF-Solidity', 'zas023 / JdBuyer', 'ChatGPT-Hackers / ChatGPT-API-server', 'bregman-arie / devops-resources', 'zinclabs / zinc', 'google / comprehensive-rust', '521xueweihan / HelloGitHub', 'openai-php / laravel', 'malkemit / namizun', 'LAION-AI / Open-Assistant', 'apple / ml-stable-diffusion', 'hehonghui / awesome-english-ebooks', 'AmruthPillai / Reactive-Resume', 'microfeed / microfeed', 'LAION-AI /', 'apple /', 'hehonghui /', 'AmruthPillai /', 'microfeed /']
['Stable Diffusion with Core ML on Apple Silicon', '经济学人(含音频)、纽约客、卫报、连线、大西洋月刊等英语杂志免费下载,支持epub、mobi、pdf格式, 每周更新', 'A one-of-a-kind resume builder that keeps your privacy in mind. Completely secure, customizable, portable, open-source and free forever. Try it out today!', 'a lightweight cms self-hosted on cloudflare, for podcasts, blogs, photos, videos, documents, and curated urls.', 'Virtual whiteboard for sketching hand-drawn like diagrams', 'WebKit+Kernel exploit chain for all PS Vita firmwares', 'Tesseract Open Source OCR Engine (main repository)', 'Proof-of-concept app to overwrite fonts on iOS using CVE-2022-46689.', 'The open-source notification infrastructure for products. Add a notification center for your React, Vue and Angular apps 🚀', '中文独立博客列表', 'Uma lista selecionada de conteúdos sobre liderança técnica, com preferência em conteúdos em português', 'Road detections from Microsoft Maps aerial imagery', '🤖 ChatGPT Desktop Application (Mac, Windows and Linux)', 'An open-source C++ library developed and used at Facebook.', 'Ejercicios de código semanales en 2023 de la comunidad MoureDev para practicar lógica en cualquier lenguaje de programación.', '我最近在重新学solidity，巩固一下细节，也写一个“WTF Solidity极简入门”，供小白们使用，每周更新1-3讲。官网: https://wtf.academy', '京东抢购自动下单助手，GUI 支持 Windows 和 macOS', 'API server for ChatGPT', 'DevOps resources - Linux, Jenkins, AWS, SRE, Prometheus, Docker, Python, Ansible, Git, Kubernetes, Terraform, OpenStack, SQL, NoSQL, Azure, GCP', 'ZincSearch. A lightweight alternative to elasticsearch that requires minimal resources, written in Go.', 'This is the Rust course used by the Android team at Google. It provides you the material to quickly teach Rust to everyone.', '分享 GitHub 上有趣、入门级的开源项目。Share interesting, entry-level open source projects on GitHub.', '⚡️ OpenAI PHP for Laravel is a supercharged PHP API client that allows you to interact with OpenAI API', 'Asymmetric upload and download', 'Stable Diffusion with Core ML on Apple Silicon', '经济学人(含音频)、纽约客、卫报、连线、大西洋月刊等英语杂志免费下载,支持epub、mobi、pdf格式, 每周更新', 'A one-of-a-kind resume builder that keeps your privacy in mind. Completely secure, customizable, portable, open-source and free forever. Try it out today!', 'a lightweight cms self-hosted on cloudflare, for podcasts, blogs, photos, videos, documents, and curated urls.', 'Virtual whiteboard for sketching hand-drawn like diagrams', 'Stable Diffusion with Core ML on Apple Silicon', '经济学人(含音频)、纽约客、卫报、连线、大西洋月刊等英语杂志免费下载,支持epub、mobi、pdf格式, 每周更新', 'A one-of-a-kind resume builder that keeps your privacy in mind. Completely secure, customizable, portable, open-source and free forever. Try it out today!', 'a lightweight cms self-hosted on cloudflare, for podcasts, blogs, photos, videos, documents, and curated urls.', 'Virtual whiteboard for sketching hand-drawn like diagrams']
['Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', '', '', '', '', '']
['Python', 'Python', 'CSS', 'TypeScript', 'JavaScript']

In [150]:
#checking length:
len(repository_title)

35

In [151]:
#checking length:
len(repository_description)

34

In [153]:
# checking length:
len(contributors_count)

35

In [154]:
#checking length:
len(language_used)

5

In [155]:
#make a dataframe:
data=pd.DataFrame()
data['Repository_title']=repository_title
data['Contributors_count']=contributors_count 
data

                        Repository_title Contributors_count
0              LAION-AI / Open-Assistant           Built by
1            apple / ml-stable-diffusion           Built by
2     hehonghui / awesome-english-ebooks           Built by
3         AmruthPillai / Reactive-Resume           Built by
4                  microfeed / microfeed           Built by
5                excalidraw / excalidraw           Built by
6                TheOfficialFloW / HENlo           Built by
7              tesseract-ocr / tesseract           Built by
8             zhuowei / WDBFontOverwrite           Built by
9                          novuhq / novu           Built by
10   timqian / chinese-independent-blogs           Built by
11        gabiduarte / awesome-techleads           Built by
12            microsoft / RoadDetections           Built by
13                       lencx / ChatGPT           Built by
14                      facebook / folly           Built by
15    mouredev / retos-programacion-2023           Built by
16             AmazingAng / WTF-Solidity           Built by
17                      zas023 / JdBuyer           Built by
18  ChatGPT-Hackers / ChatGPT-API-server           Built by
19       bregman-arie / devops-resources           Built by
20                       zinclabs / zinc           Built by
21           google / comprehensive-rust           Built by
22            521xueweihan / HelloGitHub           Built by
23                  openai-php / laravel           Built by
24                    malkemit / namizun           Built by
25             LAION-AI / Open-Assistant           Built by
26           apple / ml-stable-diffusion           Built by
27    hehonghui / awesome-english-ebooks           Built by
28        AmruthPillai / Reactive-Resume           Built by
29                 microfeed / microfeed           Built by
30                            LAION-AI /
31                               apple /
32                           hehonghui /
33                        AmruthPillai /
34                           microfeed /

In [156]:
#save data to csv as a file
data.to_csv('trending repositories details.csv', index=False )

# Q6.Scrap top 100 songs details from billiboard.cpm

In [50]:
#lets first connect to the driver  # this is method one to connect to the webdriver # this s good.
driver=webdriver.Chrome(r"C:\Users\md\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [51]:
# get url from the web page:
url ='https://www.billboard.com/charts/hot-100/'
driver.get(url)
time.sleep(1)

In [53]:
# make a empty dataframe:
song_name=[]
artist_name=[]
last_week_rank=[]
peak_rank= []
weeks_on_board= []

In [54]:
#Scrapping job title from the given page
name_tags=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]')
for i in name_tags[0:100]:
    name=i.text
    song_name.append(name)
    
#Scrapping job location from the given page
artist_tags=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")
for i in artist_tags[0:100]:
    artist=i.text
    artist_name.append(artist)
    
#Scrapping Company name from the given page
rank_tags=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
for i in rank_tags[0:100]:
    rank=i.text
    last_week_rank.append(rank)
#Scrapping job Experience from the given page
peakr_tags=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
for i in design_tags[0:100]:
    peakr=i.text
    peak_rank.append(peakr)
#Scrapping weeks_on_board from the giv en page:    
weeksboard_tags=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
for i in weeksboard_tags[0:100]:
    weeksboard=i.text
    weeks_on_board.append(weeksboard)

In [69]:
# checking length:
len(song_name)
len(artist_name)
len(last_week_rank)
len(peak_rank)
len(weeks_on_board)

6

In [ ]:
# checking length seperately:

In [63]:
#checking length:
len(song_name)

1

In [64]:
#checking length:
len(artist_name)

1

In [65]:
#checking length:
len(last_week_rank)

6

In [66]:
#checking length:
len(peak_rank)

50

In [67]:
#checking length:
len(weeks_on_board)

6

In [68]:
#checking details:
print(song_name)
print(artist_name)
print(last_week_rank)
print(peak_rank)
print(weeks_on_board)

['All I Want For Christmas Is You']
['Mariah Carey']
['', '', '', '1', '1', '57']
['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional', '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software', 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics, Deep Learning, statistics, Data Analytics, Data Analysis, support vector machine', 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws', 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL', 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big', 'Data Science', 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End', 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil', 'Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript', 'Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep', 'Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi', 'Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human', 'Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager', 'Data Science, Python, Data Analytics', 'Oracle Dba, Data Science, Data Warehousing, ETL, Jupyter, Numpy, Data Transformation, Snowflake, Teradata, Python, Data Manipulation, Relational Databases', 'Big Data, Hadoop, Data Analytics, Data Science', 'React.js, Data Science, Java, Front End, Business Analytics, Backend, Tableau, Python, Qa Testing, Automation Testing', 'Qlikview, Qlik Sense, Microsoft Azure, Power Bi, Data Science, Machine Learning', 'Telecalling, Client Interaction, Marketing, Research, Web Development, Social Media Marketing, Data Entry Operation, Excel, Ms Office, Invoicing', 'Data Science', 'Corporate Sales, Software Development, Software Sales, Marketing, Creative Designing, Corporate Planning, Senior Management, Crm, Client Relationship', 'Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining', 'Data Science, Machine Learning, Python, R, Deep Learning, Big Data, Hadoop', 'Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring', 'Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology', 'Research, Digital Marketing, Analytics, Software Development, Data Science, Consulting', 'Data Science, Artificial Intelligence, Machine Learning, Data Analytics', 'Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js', 'Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data', 'Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data', 'Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture', 'Server Administartion, Verilog, Vhdl, Digital Marketing, Market Research, Property Research, Legal, It And Non It Recruitment, Logistics, Supply Chain, Bfsi', 'Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience', 'Ethical Hacking, Security Operations Center, SOC, Managed Services, Data Science, Machine Learning, Artificial Intelligence, Operations Research, Education', 'Data Science, Artificial Intelligence, analytics, Business Intelligence, python, tableau, Power Bi, qlikview, sql, Data Warehousing, Data Visualization', 'Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java', 'C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++', 'Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written', 'Data Science, Software Engineering', 'Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management', 'Data Science, Recruitment, Salary', 'B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview', 'Software Development, Business Intelligence, Big Data Analytics, Database Administration, Data Science, Microsoft Azure, Spark, Cassandra, Object Oriented', 'Data Science, Node.js, Angularjs', 'Data Science, Media Marketing, Resource Planning, Managed Services, Display Advertising, Machine Learning, Python, Etl, Sql', 'Data Analysis, Learning, Data Science, Computer Science, Communication Skills', 'Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata', 'Software Development, Core Java, Unit Testing, Customer Experience, Problem Solving, Communication Skills, Mysql, Data Science, Sales Management, Analytics', 'Machine Learning, Data Science, Product Management, New Product, Data Analysis, Computer Vision, Deep Learning, Python, Remote Sensing']
['', '', '', '1', '1', '57']

In [70]:
#save data to csv as a file
data.to_csv('top 100 songs billboard1.com details.csv', index=False )

# Q7.Scrap  details of datascience jobs :   (a)

In [3]:
#lets first connect to the driver  # this is method one to connect to the webdriver # this s good.
driver=webdriver.Chrome(r"C:\Users\md\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [4]:
# this is 2nd method to connect with web driver 
driver=webdriver.Chrome(r"chromedriver.exe")

In [5]:
#opening the naukri page on outmated chrome browser
driver.get("https://www.naukri.com/")

In [8]:
#entering designation required in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data science")

In [17]:
# entering location required in the question:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input") 
location.send_keys("Gurgoan")

In [47]:
# get url from the web page:
url ='https://www.naukri.com/data-science-jobs-in-gurgoan-2?k=data%20science&l=gurgoan&nignbevent_src=jobsearchDeskGNB'
driver.get(url)
time.sleep(1)

In [48]:
# make a empty dataframe:
job_title=[]
job_location=[]
company_name=[]
designation = []
hire_skill = []

In [78]:
#Scrapping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:11]:
    title=i.text
    job_title.append(title)
    
#Scrapping job location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:11]:
    location=i.text
    job_location.append(location)
#Scrapping Company name from the given page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:11]:
    company=i.text
    company_name.append(company)
#Scrapping job Experience from the given page
design_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in design_tags[0:11]:
    design=i.text
    designation.append(design)
skill_tags=driver.find_elements(By.XPATH,"//div[@class='job-description fs12 grey-text']")
for i in skill_tags[0:11]:
    skill=i.text
    hire_skill.append(skill)

In [79]:
# checking the length
print(len(job_title),len(job_location),len(company_name),len(designation),len(hire_skill))

88 88 33 77 22

In [80]:
#checking details:
print(job_title)
print(job_location)
print(company_name)
print(designation)
print(hire_skill)

[[...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...]]
[[...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...]]
[[...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...]]
['Senior Analyst Data Science', 'Analyst / Senior Analyst Data Science & Strategy', 'Senior Analyst & AI Lead - Data Science', 'Senior Analyst & AI Lead - Data Science', 'Senior Analyst & AI Lead - Data Science', 'ACN - Applied Intelligence - CC - Data Science (IN) - 09', 'ACN - Applied Intelligence - CC - Data Science (IN) - 07', 'Lead Data Science Engineer - Python/Machine Learning', 'Manager / Senior Manager - Data Science & Strategy', 'Lead Data Science Engineer - Python / Neural Networks', 'Lead Data Science Engineer - NLP/Algorithm', 'Senior Analyst Data Science', 'Analyst / Senior Analyst Data Science & Strategy', 'Senior Analyst & AI Lead - Data Science', 'Senior Analyst & AI Lead - Data Science', 'Senior Analyst & AI Lead - Data Science', 'ACN - Applied Intelligence - CC - Data Science (IN) - 09', 'ACN - Applied Intelligence - CC - Data Science (IN) - 07', 'Lead Data Science Engineer - Python/Machine Learning', 'Manager / Senior Manager - Data Science & Strategy', 'Lead Data Science Engineer - Python / Neural Networks', 'Lead Data Science Engineer - NLP/Algorithm', 'Senior Analyst Data Science', 'Analyst / Senior Analyst Data Science & Strategy', 'Senior Analyst & AI Lead - Data Science', 'Senior Analyst & AI Lead - Data Science', 'Senior Analyst & AI Lead - Data Science', 'ACN - Applied Intelligence - CC - Data Science (IN) - 09', 'ACN - Applied Intelligence - CC - Data Science (IN) - 07', 'Lead Data Science Engineer - Python/Machine Learning', 'Manager / Senior Manager - Data Science & Strategy', 'Lead Data Science Engineer - Python / Neural Networks', 'Lead Data Science Engineer - NLP/Algorithm', 'Senior Analyst Data Science', 'Analyst / Senior Analyst Data Science & Strategy', 'Senior Analyst & AI Lead - Data Science', 'Senior Analyst & AI Lead - Data Science', 'Senior Analyst & AI Lead - Data Science', 'ACN - Applied Intelligence - CC - Data Science (IN) - 09', 'ACN - Applied Intelligence - CC - Data Science (IN) - 07', 'Lead Data Science Engineer - Python/Machine Learning', 'Manager / Senior Manager - Data Science & Strategy', 'Lead Data Science Engineer - Python / Neural Networks', 'Lead Data Science Engineer - NLP/Algorithm', 'Senior Analyst Data Science', 'Analyst / Senior Analyst Data Science & Strategy', 'Senior Analyst & AI Lead - Data Science', 'Senior Analyst & AI Lead - Data Science', 'Senior Analyst & AI Lead - Data Science', 'ACN - Applied Intelligence - CC - Data Science (IN) - 09', 'ACN - Applied Intelligence - CC - Data Science (IN) - 07', 'Lead Data Science Engineer - Python/Machine Learning', 'Manager / Senior Manager - Data Science & Strategy', 'Lead Data Science Engineer - Python / Neural Networks', 'Lead Data Science Engineer - NLP/Algorithm', 'Senior Analyst Data Science', 'Analyst / Senior Analyst Data Science & Strategy', 'Senior Analyst & AI Lead - Data Science', 'Senior Analyst & AI Lead - Data Science', 'Senior Analyst & AI Lead - Data Science', 'ACN - Applied Intelligence - CC - Data Science (IN) - 09', 'ACN - Applied Intelligence - CC - Data Science (IN) - 07', 'Lead Data Science Engineer - Python/Machine Learning', 'Manager / Senior Manager - Data Science & Strategy', 'Lead Data Science Engineer - Python / Neural Networks', 'Lead Data Science Engineer - NLP/Algorithm', 'Senior Analyst Data Science', 'Analyst / Senior Analyst Data Science & Strategy', 'Senior Analyst & AI Lead - Data Science', 'Senior Analyst & AI Lead - Data Science', 'Senior Analyst & AI Lead - Data Science', 'ACN - Applied Intelligence - CC - Data Science (IN) - 09', 'ACN - Applied Intelligence - CC - Data Science (IN) - 07', 'Lead Data Science Engineer - Python/Machine Learning', 'Manager / Senior Manager - Data Science & Strategy', 'Lead Data Science Engineer - Python / Neural Networks', 'Lead Data Science Engineer - NLP/Algorithm']
[[...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...], [...]]

In [110]:
#save data to csv as a file
data.to_csv('Datascience details.csv', index=False )

# Q7.  Data Science -recruiter's details (b)

In [23]:
#lets first connect to the driver  # this is method one to connect to the webdriver # this s good.
driver=webdriver.Chrome(r"C:\Users\md\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [24]:
#opening the naukri page on outmated chrome browser
driver.get("https://www.naukri.com/data-science-recruiters")

In [25]:
#entering designation required in the question
designation=driver.find_element(By.CLASS_NAME,"sugInp")
designation.send_keys("Data science")

In [27]:
# entering location required in the question:
location=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/div/form/div[1]/div/div[2]/div[1]/div[2]/input") 
location.send_keys("Gurgoan")

In [41]:
# make a empty dataframe:
job_Title=[]
job_Location=[]
company_Name=[]
Designation = []
hire_Skill = []

In [42]:
#Scrapping job title from the given page
Title_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in Title_tags[1:15]:
    Title=i.text
    job_Title.append(Title)
    
#Scrapping job location from the given page
Location_tags=driver.find_elements(By.XPATH,"//small[@class='ellipsis']")
for i in Location_tags[1:15]:
    Location=i.text
    job_Location.append(Location)
#Scrapping Company name from the given page
company_tags=driver.find_elements(By.XPATH,"//a[@class='ellipsis']")
for i in company_tags[1:15]:
    company=i.text
    company_Name.append(company)
#Scrapping job Experience from the given page
Design_tags=driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']")
for i in Design_tags[1:15]:
    Design=i.text
    Designation.append(Design)
Skill_tags=driver.find_elements(By.XPATH,"//p[@class='sklHd']")
for i in Skill_tags[1:15]:
    Skill=i.text
    hire_Skill.append(Skill)

In [43]:
# checking the length
print(len(job_Title),len(job_Location),len(company_Name),len(Designation),len(hire_Skill))

14 14 14 14 14

In [47]:
#checking details:
print(job_Title)
print(job_Location)
print(company_Name)
print(Designation)
print(hire_Skill)

['Company Recruiter', 'Company HR', 'Company Recruiter', 'Founder CEO', 'Recruitment Lead Consultant', 'Programme Manager', 'HR Administrator', 'Director', 'Human Resource', 'Executive Hiring', 'Company HR', 'Company HR', 'HR Team Lead', 'HR Executive']
['Hyderabad / Secunderabad', 'Pune', 'Ahmedabad', 'UK - (london)', 'Vadodara / Baroda', 'Chennai', 'Trivandrum', 'Indore', 'Bengaluru / Bangalore', 'Hyderabad / Secunderabad', 'Bengaluru / Bangalore', 'Mumbai', 'Hyderabad / Secunderabad', 'Mumbai']
['Data Science Network', 'shravan Kumar Gaddam', 'Shore Infotech India Pvt. Ltd', 'MARSIAN Technologies LLP', 'MARSIAN Technologies LLP', 'Anik Agrawal', 'Enerlytics Software Solutions Pvt Ltd', 'subhas patel', 'LibraryXProject', 'Abhishek - Only Analytics Hiring - India and', 'Apidel Technologies Division of Transpower', 'Institute for Financial Management and Resear', 'IFMR', 'Balu Ramesh']
['.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software', 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics, Deep Learning, statistics, Data Analytics, Data Analysis, support vector machine', 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws', 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL', 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big', 'Data Science', 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End', 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil', 'Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript', 'Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep', 'Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi', 'Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human', 'Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager', 'Data Science, Python, Data Analytics']
['Skills/Roles I hire for :', 'Skills/Roles I hire for :', 'Skills/Roles I hire for :', 'Skills/Roles I hire for :', 'Skills/Roles I hire for :', 'Skills/Roles I hire for :', 'Skills/Roles I hire for :', 'Skills/Roles I hire for :', 'Skills/Roles I hire for :', 'Skills/Roles I hire for :', 'Skills/Roles I hire for :', 'Skills/Roles I hire for :', 'Skills/Roles I hire for :', 'Skills/Roles I hire for :']

In [48]:
# make a dataframe:
data=pd.DataFrame()
data['Job_Title']=job_Title
data['Job_Location']=job_Location
data['DesignaTion']=Designation
data['Company_Name']=company_Name
data['Hire_ Skill']=hire_Skill
data

,Job_Title,Job_Location,DesignaTion,Company_Name,Hire_ Skill
0,Company Recruiter,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration...",Data Science Network,Skills/Roles I hire for :
1,Company HR,Pune,"Data Science, Artificial Intelligence, Machine...",shravan Kumar Gaddam,Skills/Roles I hire for :
2,Company Recruiter,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We...",Shore Infotech India Pvt. Ltd,Skills/Roles I hire for :
3,Founder CEO,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec...",MARSIAN Technologies LLP,Skills/Roles I hire for :
4,Recruitment Lead Consultant,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana...",MARSIAN Technologies LLP,Skills/Roles I hire for :
5,Programme Manager,Chennai,Data Science,Anik Agrawal,Skills/Roles I hire for :
6,HR Administrator,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu...",Enerlytics Software Solutions Pvt Ltd,Skills/Roles I hire for :
7,Director,Indore,"Technical Training, Software Development, Pres...",subhas patel,Skills/Roles I hire for :
8,Human Resource,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage...",LibraryXProject,Skills/Roles I hire for :
9,Executive Hiring,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Abhishek - Only Analytics Hiring - India and,Skills/Roles I hire for :
10,Company HR,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ...",Apidel Technologies Division of Transpower,Skills/Roles I hire for :
11,Company HR,Mumbai,"Office Administration, Hr Administration, tele...",Institute for Financial Management and Resear,Skills/Roles I hire for :
12,HR Team Lead,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm...",IFMR,Skills/Roles I hire for :
13,HR Executive,Mumbai,"Data Science, Python, Data Analytics",Balu Ramesh,Skills/Roles I hire for :

In [49]:
#save data to csv as a file
data.to_csv('Datascience details.csv1', index=False )

# Q8.Scrap the details of highest selling novels:

In [71]:
#lets first connect to the driver  # this is method one to connect to the webdriver # this s good.
driver=webdriver.Chrome(r"C:\Users\md\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [72]:
#opening the url page on outmated chrome browser
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [73]:
# make a empty dataframe:
book_name = []
author_name = []
volumes_sold = []
publisher = []
genre = []

In [91]:
#Scrapping BOOK_NAME from the given page
name_tags=driver.find_elements(By.XPATH,"//td[@class='left']")
for i in name_tags[1:18]:
    name=i.text
    book_name.append(name)
    
#Scrapping AUTHOR_NAME from the given page
author_tags=driver.find_elements(By.XPATH,"//td[@class='left']")
for i in author_tags[1:18]:
    author=i.text
    author_name.append(author)
#Scrapping VOLUMES_SOLD from the given page
volumes_tags=driver.find_elements(By.XPATH,"//td[@class='left']")
for i in volumes_tags[1:18]:
    volumes=i.text
    volumes_sold.append(volumes)
#Scrapping PUBLISHER_NAME from the given page
publish_tags=driver.find_elements(By.XPATH,"//td[@class='left']")
for i in publish_tags[1:18]:
    publish=i.text
    publisher.append(publish)
#scrapping GENRE from the given page:
gen_tags=driver.find_elements(By.XPATH,"//td[@class='last left']")
for i in gen_tags[1:18]:
    gen=i.text
    genre.append(gen)

In [92]:
# checking details:
print(book_name)
print(author_name)
print(volumes_sold)
print(publisher)
print(genre)

['1', 'Da Vinci Code,The', 'Brown, Dan', '5,094,805', 'Transworld', '2', 'Harry Potter and the Deathly Hallows', 'Rowling, J.K.', '4,475,152', 'Bloomsbury', '3', '1', 'Da Vinci Code,The', 'Brown, Dan', '5,094,805', 'Transworld', '2', 'Harry Potter and the Deathly Hallows', 'Rowling, J.K.', '4,475,152', 'Bloomsbury', '3', 'Da Vinci Code,The', 'Brown, Dan', '5,094,805', 'Transworld', '2', 'Harry Potter and the Deathly Hallows', 'Rowling, J.K.', '4,475,152', 'Bloomsbury', '3', "Harry Potter and the Philosopher's Stone", 'Rowling, J.K.', '4,200,654', 'Bloomsbury', '4', 'Harry Potter and the Order of the Phoenix', 'Rowling, J.K.']
['1', 'Da Vinci Code,The', 'Brown, Dan', '5,094,805', 'Transworld', '2', 'Harry Potter and the Deathly Hallows', 'Rowling, J.K.', '4,475,152', 'Bloomsbury', '3', '1', 'Da Vinci Code,The', 'Brown, Dan', '5,094,805', 'Transworld', '2', 'Harry Potter and the Deathly Hallows', 'Rowling, J.K.', '4,475,152', 'Bloomsbury', '3', 'Da Vinci Code,The', 'Brown, Dan', '5,094,805', 'Transworld', '2', 'Harry Potter and the Deathly Hallows', 'Rowling, J.K.', '4,475,152', 'Bloomsbury', '3', "Harry Potter and the Philosopher's Stone", 'Rowling, J.K.', '4,200,654', 'Bloomsbury', '4', 'Harry Potter and the Order of the Phoenix', 'Rowling, J.K.']
['1', 'Da Vinci Code,The', 'Brown, Dan', '5,094,805', 'Transworld', '2', 'Harry Potter and the Deathly Hallows', 'Rowling, J.K.', '4,475,152', 'Bloomsbury', '3', '1', 'Da Vinci Code,The', 'Brown, Dan', '5,094,805', 'Transworld', '2', 'Harry Potter and the Deathly Hallows', 'Rowling, J.K.', '4,475,152', 'Bloomsbury', '3', 'Da Vinci Code,The', 'Brown, Dan', '5,094,805', 'Transworld', '2', 'Harry Potter and the Deathly Hallows', 'Rowling, J.K.', '4,475,152', 'Bloomsbury', '3', "Harry Potter and the Philosopher's Stone", 'Rowling, J.K.', '4,200,654', 'Bloomsbury', '4', 'Harry Potter and the Order of the Phoenix', 'Rowling, J.K.']
['1', 'Da Vinci Code,The', 'Brown, Dan', '5,094,805', 'Transworld', '2', 'Harry Potter and the Deathly Hallows', 'Rowling, J.K.', '4,475,152', 'Bloomsbury', '3', '1', 'Da Vinci Code,The', 'Brown, Dan', '5,094,805', 'Transworld', '2', 'Harry Potter and the Deathly Hallows', 'Rowling, J.K.', '4,475,152', 'Bloomsbury', '3', 'Da Vinci Code,The', 'Brown, Dan', '5,094,805', 'Transworld', '2', 'Harry Potter and the Deathly Hallows', 'Rowling, J.K.', '4,475,152', 'Bloomsbury', '3', "Harry Potter and the Philosopher's Stone", 'Rowling, J.K.', '4,200,654', 'Bloomsbury', '4', 'Harry Potter and the Order of the Phoenix', 'Rowling, J.K.']
['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Romance & Sagas', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Young Adult Fiction']

In [93]:
# checking length:
len(book_name)
len(author_name)
len(volumes_sold)
len(publisher)
len(genre)

39

In [94]:
#Make a dataframe
data = pd.DataFrame()
data["Book_name"] = book_name
data['Author_name'] = author_name
data['Volumes_sold']=volumes_sold
data["Publisher"] = publisher
data['Genre'] = genre
data

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,1,1,1,1,"Crime, Thriller & Adventure"
1,"Da Vinci Code,The","Da Vinci Code,The","Da Vinci Code,The","Da Vinci Code,The",Children's Fiction
2,"Brown, Dan","Brown, Dan","Brown, Dan","Brown, Dan",Children's Fiction
3,"5,094,805","5,094,805","5,094,805","5,094,805",Children's Fiction
4,Transworld,Transworld,Transworld,Transworld,Romance & Sagas
5,2,2,2,2,Children's Fiction
6,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,Children's Fiction
7,"Rowling, J.K.","Rowling, J.K.","Rowling, J.K.","Rowling, J.K.",Children's Fiction
8,"4,475,152","4,475,152","4,475,152","4,475,152","Crime, Thriller & Adventure"
9,Bloomsbury,Bloomsbury,Bloomsbury,Bloomsbury,Children's Fiction
10,3,3,3,3,Romance & Sagas
11,1,1,1,1,"Crime, Thriller & Adventure"
12,"Da Vinci Code,The","Da Vinci Code,The","Da Vinci Code,The","Da Vinci Code,The",Children's Fiction
13,"Brown, Dan","Brown, Dan","Brown, Dan","Brown, Dan",Children's Fiction
14,"5,094,805","5,094,805","5,094,805","5,094,805",Children's Fiction
15,Transworld,Transworld,Transworld,Transworld,Romance & Sagas
16,2,2,2,2,Children's Fiction
17,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,Children's Fiction
18,"Rowling, J.K.","Rowling, J.K.","Rowling, J.K.","Rowling, J.K.",Children's Fiction
19,"4,475,152","4,475,152","4,475,152","4,475,152","Crime, Thriller & Adventure"
20,Bloomsbury,Bloomsbury,Bloomsbury,Bloomsbury,Children's Fiction
21,3,3,3,3,Romance & Sagas
22,"Da Vinci Code,The","Da Vinci Code,The","Da Vinci Code,The","Da Vinci Code,The",Children's Fiction
23,"Brown, Dan","Brown, Dan","Brown, Dan","Brown, Dan",Children's Fiction
24,"5,094,805","5,094,805","5,094,805","5,094,805",Children's Fiction
25,Transworld,Transworld,Transworld,Transworld,Romance & Sagas
26,2,2,2,2,Children's Fiction
27,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,Children's Fiction
28,"Rowling, J.K.","Rowling, J.K.","Rowling, J.K.","Rowling, J.K.",Children's Fiction
29,"4,475,152","4,475,152","4,475,152","4,475,152","Crime, Thriller & Adventure"
30,Bloomsbury,Bloomsbury,Bloomsbury,Bloomsbury,Children's Fiction
31,3,3,3,3,Romance & Sagas
32,Harry Potter and the Philosopher's Stone,Harry Potter and the Philosopher's Stone,Harry Potter and the Philosopher's Stone,Harry Potter and the Philosopher's Stone,Young Adult Fiction
33,"Rowling, J.K.","Rowling, J.K.","Rowling, J.K.","Rowling, J.K.","Crime, Thriller & Adventure"
34,"4,200,654","4,200,654","4,200,654","4,200,654",Romance & Sagas
35,Bloomsbury,Bloomsbury,Bloomsbury,Bloomsbury,"Crime, Thriller & Adventure"
36,4,4,4,4,Young Adult Fiction
37,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,"Crime, Thriller & Adventure"
38,"Rowling, J.K.","Rowling, J.K.","Rowling, J.K.","Rowling, J.K.",Young Adult Fiction

In [96]:
#save data to csv as a file
data.to_csv('highest selling novels1.csv', index=False )

# Q9.Scrap the details most watched tv series of all time from imdb.com

In [88]:
#lets first connect to the driver  # this is method one to connect to the webdriver # this s good.
driver=webdriver.Chrome(r"C:\Users\md\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [89]:
#opening the url page on outmated chrome browser
driver.get('https://www.imdb.com/list/ls095964455/')

In [90]:
# make a empty dataframe:
name = []
year_span = []
run_time= []
ratings = []
genre = []

In [91]:
#Scrapping series_name from the given page
name_tags=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']")
for i in name_tags[0:11]:
    name=i.text
    book_name.append(name)
    
#Scrapping year_span from the given page
year_tags=driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
for i in year_tags[0:11]:
    year=i.text
    year_span.append(year)
#Scrapping run _time from the given page
run_tags=driver.find_elements(By.XPATH,"//span[@class='runtime']")
for i in run_tags[0:11]:
    run=i.text
    run_time.append(run)
#Scrapping ratings from the given page
rating_tags=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-widget']")
for i in rating_tags[0:11]:
    rating=i.text
    ratings.append(rating)
# Scrapping genre from the given page:
gen_tags=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']")
for i in gen_tags[0:11]:
    gen=i.text
    genre.append(gen)

In [92]:
 # checking  details:
print(name)
print(year_span)
print(run_time)
print(ratings)
print(genre)

11. Money Heist (2017–2021)
['(2011–2019)', '(2016– )', '(2010–2022)', '(2017–2020)', '(2014–2020)', '(2013–2019)', '(2017– )', '(2005– )', '(2014–2023)', '(2012–2020)', '(2017–2021)']
['57 min', '51 min', '44 min', '60 min', '43 min', '59 min', '45 min', '41 min', '43 min', '42 min', '70 min']
['9.2\nRate', '8.7\nRate', '8.1\nRate', '7.5\nRate', '7.6\nRate', '8.1\nRate', '6.6\nRate', '7.6\nRate', '7.6\nRate', '7.5\nRate', '8.2\nRate']
['TV-MA | 57 min | Action, Adventure, Drama', 'Stars: Emilia Clarke, Peter Dinklage, Kit Harington, Lena Headey', 'Votes: 2,098,407', 'TV-14 | 51 min | Drama, Fantasy, Horror', 'Stars: Millie Bobby Brown, Finn Wolfhard, Winona Ryder, David Harbour', 'Votes: 1,188,533', 'TV-MA | 44 min | Drama, Horror, Thriller', 'Stars: Andrew Lincoln, Norman Reedus, Melissa McBride, Lauren Cohan', 'Votes: 993,309', 'TV-MA | 60 min | Drama, Mystery, Thriller', 'Stars: Dylan Minnette, Katherine Langford, Christian Navarro, Alisha Boe']

In [93]:
#checking length:
len(name)
len(year_span)
len(run_time)
len(ratings)
len(genre)

11

In [94]:
 # Make a dataframe:
data = pd.DataFrame()
data["name"] = name
data['Year_span'] =year_span
data['Run_time']=run_time
data["Ratings"] = ratings
data['Genre'] = genre
data

,name,Year_span,Run_time,Ratings,Genre
0,NaN,(2011–2019),57 min,9.2\nRate,"TV-MA | 57 min | Action, Adventure, Drama"
1,NaN,(2016– ),51 min,8.7\nRate,"Stars: Emilia Clarke, Peter Dinklage, Kit Hari..."
2,NaN,(2010–2022),44 min,8.1\nRate,"Votes: 2,098,407"
3,NaN,(2017–2020),60 min,7.5\nRate,"TV-14 | 51 min | Drama, Fantasy, Horror"
4,NaN,(2014–2020),43 min,7.6\nRate,"Stars: Millie Bobby Brown, Finn Wolfhard, Wino..."
5,NaN,(2013–2019),59 min,8.1\nRate,"Votes: 1,188,533"
6,NaN,(2017– ),45 min,6.6\nRate,"TV-MA | 44 min | Drama, Horror, Thriller"
7,NaN,(2005– ),41 min,7.6\nRate,"Stars: Andrew Lincoln, Norman Reedus, Melissa ..."
8,NaN,(2014–2023),43 min,7.6\nRate,"Votes: 993,309"
9,NaN,(2012–2020),42 min,7.5\nRate,"TV-MA | 60 min | Drama, Mystery, Thriller"
10,NaN,(2017–2021),70 min,8.2\nRate,"Stars: Dylan Minnette, Katherine Langford, Chr..."

In [112]:
#save data to csv as a file
data.to_csv('Tv_series details.csv', index=False )

# Q10.Scrap the details from UCI machine learning repositories.

In [97]:
#lets first connect to the driver  # this is method one to connect to the webdriver # this s good.
driver=webdriver.Chrome(r"C:\Users\md\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [98]:
#opening the url page on outmated chrome browser
driver.get('https://archive.ics.uci.edu/ml/datasets.php')

In [100]:
# make a empty dataframe:
dataset_name = []
data_type = []
repo_task= []
attribute_type = []
no_of_instances = []
no_of_attribute =[]
repo_year = []

In [101]:
#Scrapping series_name from the given page
name_tags=driver.find_elements(By.XPATH,"//p[@class='normal']")
for i in name_tags[0:11]:
    name=i.text
    dataset_name.append(name)
    
#Scrapping year_span from the given page
dtype_tags=driver.find_elements(By.XPATH,"//p[@class='normal']")
for i in dtype_tags[0:11]:
    dtype=i.text
    data_type.append(dtype)
#Scrapping run _time from the given page
task_tags=driver.find_elements(By.XPATH,"//p[@class='normal']")
for i in task_tags[0:11]:
    task=i.text
    repo_task.append(task)
#Scrapping run _time from the given page
instances_tags=driver.find_elements(By.XPATH,"//p[@class='normal']")
for i in instances_tags[0:11]:
    instances=i.text
    no_of_instances.append(instances)   
#Scrapping ratings from the given page
attribute_tags=driver.find_elements(By.XPATH,"//p[@class='normal']")
for i in attribute_tags[0:11]:
    attribute=i.text
    no_of_attribute.append(attribute)
#
attributet_tags=driver.find_elements(By.XPATH,"//p[@class='normal']")
for i in attributet_tags[0:11]:
    attributet=i.text
    attribute_type.append(attributet)
# Scrapping genre from the given page:
year_tags=driver.find_elements(By.XPATH,"//p[@class='normal']")
for i in year_tags[0:11]:
    year=i.text
    repo_year.append(year)

In [102]:
#Checking length:
len(dataset_name)
len(data_type)
len(repo_task)
len(attribute_type) 
len(no_of_instances) 
len(no_of_attribute)
len(repo_year)

11

In [103]:
# Checking details:
print(dataset_name)
print(data_type)
print(repo_task)
print(attribute_type)
print(no_of_instances) 
print(no_of_attribute) 
print(repo_year)

['Classification (466)\nRegression (151)\nClustering (121)\nOther (56)', 'Categorical (38)\nNumerical (422)\nMixed (55)', 'Multivariate (480)\nUnivariate (30)\nSequential (59)\nTime-Series (126)\nText (69)\nDomain-Theory (23)\nOther (21)', 'Life Sciences (147)\nPhysical Sciences (57)\nCS / Engineering (234)\nSocial Sciences (41)\nBusiness (45)\nGame (12)\nOther (81)', 'Less than 10 (166)\n10 to 100 (279)\nGreater than 100 (110)', 'Less than 100 (38)\n100 to 1000 (210)\nGreater than 1000 (339)', 'Matrix (439)\nNon-Matrix (183)', 'Table View  List View', 'Abalone', 'Multivariate ', 'Classification ']
['Classification (466)\nRegression (151)\nClustering (121)\nOther (56)', 'Categorical (38)\nNumerical (422)\nMixed (55)', 'Multivariate (480)\nUnivariate (30)\nSequential (59)\nTime-Series (126)\nText (69)\nDomain-Theory (23)\nOther (21)', 'Life Sciences (147)\nPhysical Sciences (57)\nCS / Engineering (234)\nSocial Sciences (41)\nBusiness (45)\nGame (12)\nOther (81)', 'Less than 10 (166)\n10 to 100 (279)\nGreater than 100 (110)', 'Less than 100 (38)\n100 to 1000 (210)\nGreater than 1000 (339)', 'Matrix (439)\nNon-Matrix (183)', 'Table View  List View', 'Abalone', 'Multivariate ', 'Classification ']
['Classification (466)\nRegression (151)\nClustering (121)\nOther (56)', 'Categorical (38)\nNumerical (422)\nMixed (55)', 'Multivariate (480)\nUnivariate (30)\nSequential (59)\nTime-Series (126)\nText (69)\nDomain-Theory (23)\nOther (21)', 'Life Sciences (147)\nPhysical Sciences (57)\nCS / Engineering (234)\nSocial Sciences (41)\nBusiness (45)\nGame (12)\nOther (81)', 'Less than 10 (166)\n10 to 100 (279)\nGreater than 100 (110)', 'Less than 100 (38)\n100 to 1000 (210)\nGreater than 1000 (339)', 'Matrix (439)\nNon-Matrix (183)', 'Table View  List View', 'Abalone', 'Multivariate ', 'Classification ']
['Classification (466)\nRegression (151)\nClustering (121)\nOther (56)', 'Categorical (38)\nNumerical (422)\nMixed (55)', 'Multivariate (480)\nUnivariate (30)\nSequential (59)\nTime-Series (126)\nText (69)\nDomain-Theory (23)\nOther (21)', 'Life Sciences (147)\nPhysical Sciences (57)\nCS / Engineering (234)\nSocial Sciences (41)\nBusiness (45)\nGame (12)\nOther (81)', 'Less than 10 (166)\n10 to 100 (279)\nGreater than 100 (110)', 'Less than 100 (38)\n100 to 1000 (210)\nGreater than 1000 (339)', 'Matrix (439)\nNon-Matrix (183)', 'Table View  List View', 'Abalone', 'Multivariate ', 'Classification ']
['Classification (466)\nRegression (151)\nClustering (121)\nOther (56)', 'Categorical (38)\nNumerical (422)\nMixed (55)', 'Multivariate (480)\nUnivariate (30)\nSequential (59)\nTime-Series (126)\nText (69)\nDomain-Theory (23)\nOther (21)', 'Life Sciences (147)\nPhysical Sciences (57)\nCS / Engineering (234)\nSocial Sciences (41)\nBusiness (45)\nGame (12)\nOther (81)', 'Less than 10 (166)\n10 to 100 (279)\nGreater than 100 (110)', 'Less than 100 (38)\n100 to 1000 (210)\nGreater than 1000 (339)', 'Matrix (439)\nNon-Matrix (183)', 'Table View  List View', 'Abalone', 'Multivariate ', 'Classification ']
['Classification (466)\nRegression (151)\nClustering (121)\nOther (56)', 'Categorical (38)\nNumerical (422)\nMixed (55)', 'Multivariate (480)\nUnivariate (30)\nSequential (59)\nTime-Series (126)\nText (69)\nDomain-Theory (23)\nOther (21)', 'Life Sciences (147)\nPhysical Sciences (57)\nCS / Engineering (234)\nSocial Sciences (41)\nBusiness (45)\nGame (12)\nOther (81)', 'Less than 10 (166)\n10 to 100 (279)\nGreater than 100 (110)', 'Less than 100 (38)\n100 to 1000 (210)\nGreater than 1000 (339)', 'Matrix (439)\nNon-Matrix (183)', 'Table View  List View', 'Abalone', 'Multivariate ', 'Classification ']
['Classification (466)\nRegression (151)\nClustering (121)\nOther (56)', 'Categorical (38)\nNumerical (422)\nMixed (55)', 'Multivariate (480)\nUnivariate (30)\nSequential (59)\nTime-Series (126)\nText (69)\nDomain-Theory (23)\nOther (21)', 'Life Sciences (147)\nPhysical Sciences (57)\nCS / Engineering (234)\nSocial Sciences (41)\nBusiness (45)\nGame (12)\nOther (81)', 'Less than 10 (166)\n10 to 100 (279)\nGreater than 100 (110)', 'Less than 100 (38)\n100 to 1000 (210)\nGreater than 1000 (339)', 'Matrix (439)\nNon-Matrix (183)', 'Table View  List View', 'Abalone', 'Multivariate ', 'Classification ']

In [104]:
# Make a dataframe:
data = pd.DataFrame()
data["Dataset_name"] = dataset_name
data['Data_type'] =data_type
data['Repo_task']=repo_task
data["Attribute_type"] = attribute_type
data['No_of_instances'] = no_of_instances
data['No_of_attribute'] = no_of_attribute
data['Repo_year'] = repo_year
data

,Dataset_name,Data_type,Repo_task,Attribute_type,No_of_instances,No_of_attribute,Repo_year
0,Classification (466)\nRegression (151)\nCluste...,Classification (466)\nRegression (151)\nCluste...,Classification (466)\nRegression (151)\nCluste...,Classification (466)\nRegression (151)\nCluste...,Classification (466)\nRegression (151)\nCluste...,Classification (466)\nRegression (151)\nCluste...,Classification (466)\nRegression (151)\nCluste...
1,Categorical (38)\nNumerical (422)\nMixed (55),Categorical (38)\nNumerical (422)\nMixed (55),Categorical (38)\nNumerical (422)\nMixed (55),Categorical (38)\nNumerical (422)\nMixed (55),Categorical (38)\nNumerical (422)\nMixed (55),Categorical (38)\nNumerical (422)\nMixed (55),Categorical (38)\nNumerical (422)\nMixed (55)
2,Multivariate (480)\nUnivariate (30)\nSequentia...,Multivariate (480)\nUnivariate (30)\nSequentia...,Multivariate (480)\nUnivariate (30)\nSequentia...,Multivariate (480)\nUnivariate (30)\nSequentia...,Multivariate (480)\nUnivariate (30)\nSequentia...,Multivariate (480)\nUnivariate (30)\nSequentia...,Multivariate (480)\nUnivariate (30)\nSequentia...
3,Life Sciences (147)\nPhysical Sciences (57)\nC...,Life Sciences (147)\nPhysical Sciences (57)\nC...,Life Sciences (147)\nPhysical Sciences (57)\nC...,Life Sciences (147)\nPhysical Sciences (57)\nC...,Life Sciences (147)\nPhysical Sciences (57)\nC...,Life Sciences (147)\nPhysical Sciences (57)\nC...,Life Sciences (147)\nPhysical Sciences (57)\nC...
4,Less than 10 (166)\n10 to 100 (279)\nGreater t...,Less than 10 (166)\n10 to 100 (279)\nGreater t...,Less than 10 (166)\n10 to 100 (279)\nGreater t...,Less than 10 (166)\n10 to 100 (279)\nGreater t...,Less than 10 (166)\n10 to 100 (279)\nGreater t...,Less than 10 (166)\n10 to 100 (279)\nGreater t...,Less than 10 (166)\n10 to 100 (279)\nGreater t...
5,Less than 100 (38)\n100 to 1000 (210)\nGreater...,Less than 100 (38)\n100 to 1000 (210)\nGreater...,Less than 100 (38)\n100 to 1000 (210)\nGreater...,Less than 100 (38)\n100 to 1000 (210)\nGreater...,Less than 100 (38)\n100 to 1000 (210)\nGreater...,Less than 100 (38)\n100 to 1000 (210)\nGreater...,Less than 100 (38)\n100 to 1000 (210)\nGreater...
6,Matrix (439)\nNon-Matrix (183),Matrix (439)\nNon-Matrix (183),Matrix (439)\nNon-Matrix (183),Matrix (439)\nNon-Matrix (183),Matrix (439)\nNon-Matrix (183),Matrix (439)\nNon-Matrix (183),Matrix (439)\nNon-Matrix (183)
7,Table View List View,Table View List View,Table View List View,Table View List View,Table View List View,Table View List View,Table View List View
8,Abalone,Abalone,Abalone,Abalone,Abalone,Abalone,Abalone
9,Multivariate,Multivariate,Multivariate,Multivariate,Multivariate,Multivariate,Multivariate
10,Classification,Classification,Classification,Classification,Classification,Classification,Classification

In [106]:
#save data to csv as a file
data.to_csv('repositries details1.csv', index=False )